{% include 'base.html' %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/products/details.css' %}">

{% include 'navbar.html' %}

{% block content %}
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
                <article class="gallery-wrap">
                    <div class="img-big-wrap parent">
                        <div id="heading"><a href="#"><img class="img-fluid ml-2" src="{{ product.productImage.url }}"></a>
                        </div>
                    </div>
                </article>
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h3 class="title mb-3">{{ product.title }}</h3>

                    <dl class="item-property">
                        <dt>Description</dt>
                        <dd>
                            <p>{{ product.description }} </p>
                        </dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Color</dt>
                        <dd>Black and white</dd>
                    </dl> <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                        <dt>Delivery</dt>
                        <dd>Russia, USA, and Europe</dd>
                    </dl> <!-- item-property-hor .// -->

                    <hr>
                    <div class="row">
                        <div class="col-sm-5">
                            <dl class="param param-inline">
                                <dt>Size:</dt>
                                <dd>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                               id="inlineRadio2" value="option2">
                                        <span class="form-check-label">SM</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                               id="inlineRadio2" value="option2">
                                        <span class="form-check-label">MD</span>
                                    </label>
                                    <label class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                               id="inlineRadio2" value="option2">
                                        <span class="form-check-label">XXL</span>
                                    </label>
                                </dd>
                            </dl> <!-- item-property .// -->

                        </div> <!-- col.// -->
                        <div class="col-sm-7">

                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                    <hr>
                    <button type="button" class="btn btn-lg btn-outline-primary text-uppercase"
                            data-target="#exampleModalCenter" data-toggle="modal">ENQUIRY PRODUCT
                    </button>

                </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Enquiry This product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/productEnquiry/">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="productId" value="{{ product.id }}">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   name="email"
                                   placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll contact you with email you provide
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Fullname</label>
                            <input
                                    name="fullname"
                                    type="text" class="form-control" id="exampleInputPassword1" placeholder="Full name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Phone.No</label>
                            <input
                                    name="phone"
                                    type="number" class="form-control" id="exampleInputPassword1"
                                    placeholder="Phone.No">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Address</label>
                            <input
                                    name="address"
                                    type="text" class="form-control" id="exampleInputPassword1"
                                    placeholder="Country / City">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Proceed</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <p style="font-family: Roboto; font-size: 25px " class="ml-5 mt-2">You may also like</p>
    <div class="d-flex align-items-center flex-wrap ml-5 mt-2">
        {% for product in similar_products %}
            <div class="card mr-2 ml-2 mb-2 " style="width: 14rem;">
                <div class="card-body ">
                    <img class="card-img-top" src="{{ product.productImage.url }}" alt="Product Image">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <a href="/products/{{ product.id }}" class="btn btn-outline-primary col">EXPLORE</a>
                </div>
            </div>
        {% empty %}
            Sorry no products available
        {% endfor %}
    </div>
{% endblock %}

<!--container.//-->
<style>
    .parent {
        text-align: center;
    }

    #heading {
        display: inline-block;
        *display: inline;
        text-align: left;
    }
</style>

<br><br><br>
{% include 'footer.html' %}

