<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% block content %}
    {% include 'base.html' %}

    {% include 'navbar.html' %}
    <p style="margin-right: 10px;margin-left: 100px">
    <h1>
        ABOUT US
    </h1>
    Introduction

    Since the year 1985, Mr. Tej Narayan Ram, proprietor of “Jungle Silk & Pashmina Udyog” has been providing
    service as
    weavers and designers of fine silk, linen and handspun cotton fabrics. It has been Mr. Ram’s generations’
    profession, running since Mughal’s period. Our quality products & service has earned us good will and
    established us
    into one of Nepal’s premier Pashmina/Silk shawl manufacturers.

    In 1995, we established our factory at Bansbari, Kathmandu, Nepal by associating with an American citizen. More
    than
    30,000 pieces of Pashmina X Silk shawls, stole, scarf, throw size and blankets were exported to United States
    and
    European countries during 1997-2003. During those years, our company was known as “Pashm Silk & Cashmere Udyog”.
    For
    some reasons, Pashm Silk was separated from us. In 2003, “Jungle Silk and Pashmina Udyog” was incorporated by
    Mr.
    Tej Narayan Ram.

    Jungle Silk currently employs around 25 staffs and the majority is of women, with the mixture of cultures and
    languages – Nepali and Hindi. Jungle Silk uses live weavers and the highest quality Pashmina and Silk available.
    High quality yarn costs more, but after weaving into a shawl, our shawls do not need to be mechanically brushed
    to
    make them soft. It is common for shawls made from inferior yarns to be brushed and softened with chemicals. If
    brushed, shawls will shed and become threadbare quickly. Not only they are going to be passed down through
    generations, they may not even survive until the next winter!

    Jungle Silk has made thousands of designs since that time and still thinks about new designs with best quality
    and
    new collection in the market. We are known for our attention to detail. While many hand loomed shawls are
    labeled
    with a disclaimer to excuse uneven edges and inconsistent yarn spacing, but Jungle Silk shawl cannot be
    distinguished from the power loom versions in this respect. Each of our weavers is also a loom engineer. All the
    mechanical work of loom fittings, reconditioning and even looms are done by them.


    What is Pashmina/Cashmere?

    Cashmere is the fibre which is also known as pashm or pashmina for its use in the handmade shawls. The founder
    of
    the cashmere wool industry is traditionally held to be the 15th century ruler of Kashmir, Zayn-ul-Abidin, who
    introduced weavers from Central Asia.

    Cashmere shawls have been manufactured in Nepal for hundreds of years. The test for a quality pashmina is its
    warmth
    and feel. The fibre, cashmere is derived from mountain goats. Today, however, the word “Pashmina” has been used
    too
    liberally and many scarves made from natural or synthetic fiber are sold as pashmina products creating confusion
    in
    the market.

    Jungle Silk uses the yarn and fiber comes from changthangi or pashmina goat, which is a special breed of goat
    indigenous to high altitudes of the Altai Mountain Goat of Tibet and Inner Mongolia.

    The high Himalayas of Tibet and Mongolia has a harsh, cold climate and in order to survive, the mountain goats
    have
    developed exceptionally warm and light fiber which may be slightly coarser and warmer than cashmere fibers
    obtained
    from lower region goats. Cold temperature and the climate is very supportive to the pashmina producing types of
    goat. To survive the freezing environment at 14,000 feet altitude, it grows a unique, incredibly soft pashm
    (inner
    coat) six times finer than human hair. As it is only 14-19 microns in diameter.


    How do we produce Pashmina/Cashmere?

    Pashmina fiber is hand-spun using Charkha through our factory’s top hand spinners. We use this finest hand spun
    pashmina yarn to make shawls, stoles, scarves, blankets & other items as per our customers’ demand & order.

    Popularity of pashmina has been growing rapidly and, is being appreciated & demanded by millions of people
    around
    the globe. Sadly this has caused the standards of pashmina to diminish.

    To keep up with the world’s demand, most Pashmina shawls are now woven with very low grade Pashmina, and most of
    those are no longer made using the traditional handloom method. Pashmina and Merino wool blended yarns are
    commonly
    exported as pure Pashmina.

    Jungle Silk uses only the purest raw materials from East and South Asia – silk from Assam, Bengal, Bangalore and
    Jharkhand, and cashmere fibers from Inner Mongolia and Tibet.

    To guarantee that only the longest and finest fibers end up in our products, each lots of fiber we purchase is
    lab
    tested to ensure that our industry-high standards for purity and integrity are met or exceeded. We do not use
    adulterated or short-fiber cashmere yarns. We use nonpolluting eco-friendly Swiss dyes.
    If properly cared, this will provide decades of comfort.


    Woven Fabric Patterns, Ply and Counts

    We weave in: Basket, Twill, Diamond and Herringbone and many more designs.


    Basket: This weave is very simple and widely used. It is made from multiple horizontal strands weaved over
    multiple
    vertical strands, the criss-cross method.


    Twill: In a twill weave, each weft or filling yarn floats across the warp yarns in a progression of interlacing
    to
    the right or left, forming a distinct diagonal line. A float is the portion of a yarn that crosses over two or
    more
    yarns from the opposite direction. A twill weave is the one of the standard weave that can be made on a fairly
    simple handloom.


    Herringbone: This design consists of two or more rows of short parallel strokes slanting in alternate directions
    to
    form a series of parallel Vs or zigzags.


    Diamond: By the combination of horizontal zigzag twill and vertical twill, diamond design is made. It is
    symmetrical
    on its both axis and the repeat size of warp and weft are equal.


    Ply: It means number of strands used for the weaving a shawl.
    We use both 1ply, 2 ply, 3 ply, 4 ply and so on as demanded by the customer. \ A 2 ply yarn is where two
    pashmina
    strands have been loosely twisted together. A two-ply item is, therefore, warmer and thicker. Thickness keeps on
    increasing when the ply is increased.

    We use 2/1 ply, 2/2 ply, 4/2 ply, 4/4 ply and so on.


    Count: Count is a numerical value, which express the coarseness or fineness (diameter) of the yarn and also
    indicate
    the relationship between length and weight (the mass per unit length or the length per unit mass)of that yarn.
    Therefore, the concept of yarn count has been introduced which specifies a certain ratio of length to weight.

    If the weight of the fibre is 1 gramm, then the length will be 100 meters. So the count number will be 1/100 (1
    indicates the ply and 100 indicates the count).

    Different counts used by us are: 1/100, 2/100, 1/54, 2/60, 1/28, 2/28 etc.


    Size & Custom

    Our standard sizes are:

    Scarf (small) 12 x 60"
    scarf (large) 18 x 78"
    Stole 28” x 80"
    Shawl 36” x 80"/90”
    Throw 52” x 80”/90"
    Blanket 60” x 90"

    Blanket (large) 90” x 120"


    Please note that all our items have the standard 3" long twisted, knotted or open fringes, unless you specify
    otherwise. We also customize products, designs and sizes according to our customer’s necessity & order. If you
    have
    any other product/design in mind, which you want to be made out of pashmina, we can help you out through our
    designers and skilled manpower.


    Pashmina handling

    Good pashmina care is essential to ensuring yours remains in good condition. With proper care, your pashmina
    will
    last a lifetime.


    Wearing your pashmina:

    Pashmina fabric is extremely delicate. Good pashmina care means ensuring that your pashmina does not come in
    contact
    with sharp metal jewelry or belts, which may snag the fabric. You should also pay attention to handbag straps,
    backpacks and any rough surface which may rub against the fabric and cause damage.

    Pilling is when little balls appear on the surface of the fabric, and is caused by friction. When pilling
    occurs,
    you can pull or carefully cut off the pills.


    Washing your pashmina:

    Some recommend you dry clean your pashmina, but that is not strictly necessary. Remember that dry cleaning is a
    recent innovation, while pashmina fabrics have been in use since at least the 15th century. However, dry
    cleaning
    will not harm your pashmina.

    Do not use a washing machine, because your pashmina fabric is delicate and machine washing will weaken the
    fibers
    and may cause damage. You can safely wash your pashmina by hand in cold or lukewarm water with a gentle baby
    shampoo, or herbal shampo. Do not use regular soaps or detergents, which are alkaline and may damage the fabric
    because it contains the same proteins like your hair. Start by adding the shampoo to the water and agitate to
    ensure
    that it is dissolved completely. You may also whisk up the water to create a rich lather. Wash the fabric gently
    by
    hand. Be especially careful with hand-tied tassles (if your pashmina has them).

    When finished, thoroughly rinse the fabric and then roll it in a towel to remove excess moisture. Don't twist or
    wring the fabric.Lay your pashmina out flat to dry. Don't leave it in direct sunlight. Don't use a machine
    dryer.


    Removing Wrinkles

    If your pashmina is wrinkled, you can steam or iron it on a cool setting, provided you place a piece of cloth
    between the fabric and the iron. For best results the fabric should be slightly damp.


    Storing your pashmina

    Store your pashmina in a watertight container, away from direct sunlight. It's a good pashmina care practice to
    clean your fabric before storage, as time will give any stains an chance to fix.

    If you keep your pashmina in a drawer or closet, you need to protect it from moths. Mothballs may leave an
    unpleasant smell. A good alternative is a satchel filled with dried mint, rosemary, lavender, thyme and cloves.
    Not
    only does this repel moths, but it gives your pashmina and clothes a sweet, natural smell.
    </p>
    {% include 'footer.html' %}
{% endblock %}