<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best quality Pashmina</title>
</head>
<body>
{% include 'navbar.html' %}
{% include 'Carousel.html' %}
{% block content %}
{% endblock %}
<div class="embed-responsive embed-responsive-21by9">
    <iframe
            class="mt-1;ml-1;mr-1;md-1"
            height="380" src="https://www.youtube.com/embed/GEaPj8S_lS0"
            onload="this.width=screen.width;"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>
{% include 'footer.html' %}
</body>
</html>