<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% include 'base.html' %}
{% include 'navbar.html' %}
{% include 'Carousel.html' %}
<div class="mr-5 ml-5 mt-5 md-2 mb-2">
    <div class="embed-responsive embed-responsive-21by9">
        <iframe
                class="mt-1;ml-1;mr-1;md-1"
                height="380" src="https://www.youtube.com/embed/GEaPj8S_lS0"
                onload="this.width=screen.width;"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>