{#<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"#}
{#        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"#}
{#        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"#}
{#        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"#}
{#        crossorigin="anonymous"></script>#}
{#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"#}
{#      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">#}
{#<link rel="icon" href="https://static.thenounproject.com/png/1277800-200.png" type="image/icon type">#}
{#<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-2 mb-1 bg-white rounded">#}
{#    <a class="navbar-brand" href="/" style="font-family: Roboto">Jungle Silk Pashmina</a>#}
{#    <a class="navbar-brand" href="/quoterequest" style="font-family: Roboto">Request A Quote</a>#}
{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}
{##}
{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#        <ul class="navbar-nav mr-auto">#}
{#            <li class="nav-item dropdown">#}
{#                <a style="font-family: Roboto" class="nav-link dropdown-toggle" href="#" id="navbarDropdown"#}
{#                   role="button"#}
{#                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    Quick Find#}
{#                </a>#}
{#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                    <a class="dropdown-item" href="/products">Products</a>#}
{#                    <a class="dropdown-item" href="/categories">Categories</a>#}
{#                    <a class="dropdown-item" href="/contactUs">Contact Us</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="/about">About Us</a>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#        <form class="form-inline my-2 my-lg-0" method="post" action="/products/">#}
{#            {% csrf_token %}#}
{#            <input class="form-control mr-sm-2" name="title" type="search" placeholder="Search Products"#}
{#                   aria-label="Search">#}
{#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
{#    </div>#}
{#</nav>#}

<!--Navbar-->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark unique-color-dark">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">Jungle Silk Pashmina</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/quoterequest">Request a Quote</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Quick find</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/products">Products</a>
                    <a class="dropdown-item" href="/categories">Categories</a>
                    <a class="dropdown-item" href="/contactUs">Contact Us</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

        <form class="form-inline" method="post" action="/products/">
            {% csrf_token %}
            <input class="form-control mr-sm-2" name="title" type="text" placeholder="Search Product" aria-label="Search">
            <button class="btn btn-outline-primary waves-effect my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
